@{
    ViewBag.Title = "TEST";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                The following project was created using the folling technologies:
                <ul>
                    <li>Visual Studio Ultimate 2012</li>
                    <li>.NET Framework 4.5</li>
                    <li>C#</li>
                    <li>MVC4</li>
                    <li>SQL Server 2008</li>                    
                    <li>Entity Framework 5</li>
                    <li>IIS Express</li>
                    <li>Automapper 4.2.1</li>
                </ul>
                @ViewBag.Data
            </p>
        </div>
    </section>
}
